@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%) */

/* Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --orange : hsl(31, 77%, 52%);
  --cyan : hsl(184, 100%, 22%);
  --darkCyan : hsl(179, 100%, 13%);
  --white : hsla(0, 0%, 100%, 0.75);
  --gray : hsl(0, 0%, 95%);
  --font1 : 'Big Shoulders Display', cursive;
  --font2 : 'Lexend Deca', sans-serif;
}


.card1 {
  background-color: var(--orange);
}

.card2 {
  background-color: var(--cyan);
}

.card3 {
  background-color: var(--darkCyan);
}

.font1 {
  font-family: var(--font1);
}

.font2 {
  font-family: var(--font2);
}

.white {
  color: var(--white);
}

.orange {
  color: var(--orange);
}

.orange:hover {
  background-color: var(--orange);
}

.orangeBg {
  background-color: var(--orange);
}

.cyan {
  color: var(--cyan);
}

.cyan:hover {
  background-color: var(--cyan);
}

.cyanBg {
  background-color: var(--cyan);
}

.darkCyan {
  color: var(--darkCyan);
}

.darkCyan:hover {
  background-color: var(--darkCyan);
}

.darkCyanBg {
  background-color: var(--darkCyan);
}